.bg-gradient-1 { background: linear-gradient(135deg, #553562 0%, #7251A1 100%); }
.bg-gradient-2 { background: linear-gradient(135deg, #C14599 0%, #7251A1 100%); }
.bg-gradient-3 { background: linear-gradient(135deg, #006256 0%, #118D97 100%); }
.bg-gradient-4 { background: linear-gradient(135deg, #0091AE 0%, #108B95 100%); }
.bg-gradient-5 { background: linear-gradient(135deg, #1E5179 0%, #336AA4 100%); }
.bg-gradient-6 { background: linear-gradient(135deg, #4276A0 0%, #336AA4 100%); }
