{% assign blocks_length = section.blocks | size %}
{% if blocks_length > 0 %}
  <div class="three-column-content-blocks-container">
    {% if section.settings.heading != blank %}
      <p class="h3 contact-section-block-heading heading-subheading">{{ section.settings.heading }}</p>
    {% endif %}
    <div class="three-column-content-blocks">
      {% for block in section.blocks %}
        <div class="three-column-content-blocks__block grey-background">
          <p class="h7 contact-section-block-heading">{{ block.settings.header }}</p>
          {% if block.settings.body != blank %}<div class="body-md client-generated">{{ block.settings.body }}</div>{% endif %}
        </div>
      {% endfor %}
    </div>
    {% if section.settings.subheading != blank %}
      <div class="three-column-content-blocks__subheading-content-container client-generated">{{ section.settings.subheading }}</div>
    {% endif %}
  </div>
{% endif %}

{% schema %}
  {
    "name": "Content Blocks",
    "settings": [
      { "type": "header", "content": "Content Blocks (max 3)" },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "richtext",
        "id": "subheading",
        "label": "Sub-Heading"
      }
    ],
    "max_blocks": 3,
    "blocks": [
      {
        "type": "contact_info_block",
        "name": "Contact Info Block",
        "settings": [
          {
            "type": "text",
            "id": "header",
            "label": "Heading"
          },
          {
            "type": "richtext",
            "id": "body",
            "label": "Body Copy"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Content Blocks"
      }
    ]
  }
{% endschema %}

