{% layout 'ui-kit' %}
<main class="bg-white">
  <h1>YLANG UI KIT</h1>

  <br>
  <h2>Border</h2>
  <p class="border-1px-black">border-1px-black</p><br>
  <p class="border-2px-black">border-2px-black</p><br>
  <p class="border-1px-white">border-2px-white</p><br>
  <p class="border-2px-white">border-2px-white</p><br>

  <p class="border-1px-black-300">border-1px-black300</p><br>
  <p class="border-1px-black-500">border-1px-black500</p><br>
  <p class="border-1px-primary-400">border-1px-primary400</p><br>
  <p class="border-1px-primary-700">border-1px-primary700</p><br>
  <p class="border-2px-black-300">border-2px-black300</p><br>

  <p class="border-4px-primary-700">border-4px-primary-700</p><br>

  <br>
  <h2>TYPOGRAPHY:</h2>
  <br>
  <h3>Healines:</h3>
  <h1 class="h1-display">Display</h1>
  <h1>Headline 1 - H1</h1>
  <h2>Headline 2 - H2</h2>
  <h3>Headline 3 - H3</h3>
  <h4>Headline 4 - H4</h4>
  <h5>Headline 5 - H5</h5>
  <h6>Headline 6 - H6</h6>
  <p class="h7">Headline 7 - h7</p>

  <br>
  <h3>Body:</h3>
  <p class="body-lg">Body (Large)</p>
  <p class="body-md">Body (Base)</p>
  <p class="body-sm">Body (Small)</p>
  
  <p class="button-text">Button</p>

  <br>
  <h3>Others</h3>
  <p class="preheader">preheader</p>
  <p>
  <span class="link-text">Stand Alone Text Link</span>
  </p>
  <p class="label">Form Label</p>

  {% comment %} 





  {% endcomment %}
  <br>
  <h2>Buttons</h2>
  <!-- Button Primary -->
  <h3>Button Primary</h3><br>
  <v-button primary>Default</v-button>
  <v-button primary disabled>Disabled</v-button>
    
  <!-- Button Secondary -->
  <h3>Button Secondary</h3><br>
  <v-button secondary>Default</v-button>
  <v-button secondary disabled>Disabled</v-button>

  <h3>Button Primary on dark backgrounds</h3>
  <br>
  <div class="bg-brand-primary" style="padding: 10px;">
    <v-button primary>Default</v-button>
    <v-button primary disabled>Disabled</v-button>
  </div>
  
  <h3>Button Secondary on dark backgrounds</h3>
  <br>
  <div class="bg-brand-primary" style="padding: 10px;">
    <v-button secondary>Default</v-button>
    <v-button secondary disabled>Disabled</v-button>
  </div>

  <h3>Icon Buttons</h3><br>
  <v-button primary></icon>Default <icon name="cart" size="18px"></icon></v-button>
  <v-button secondary><icon name="cart" size="18px"></icon>Default</v-button>
  <v-button inverse disabled><icon name="cart" size="18px"></icon>Disabled</v-button>

  <h3>Arrow Buttons</h3><br>
  <v-arrow-button primary><icon name="arrow-right" size="24px"></icon></v-arrow-button>
  <v-arrow-button primary disabled><icon name="arrow-right" size="24px"></icon></v-arrow-button>
  <v-arrow-button secondary><icon name="caret-right" size="20px"></icon></v-arrow-button>
  <v-arrow-button secondary disabled><icon name="caret-right" size="20px"></icon></v-arrow-button>

  <br>
  <h2>Stand-Alone Text Link Primary</h2> <br>
  <p>Stand-Alone Text link with an arrow</p>
  <v-link primary href="https://google.com">Link Primary</v-link>
  <br>
  <v-link primary disabled href="https://google.com">Link Primary</v-link>
 
  <br>
  <h2>Stand-Alone Text Link Secondary</h2> <br>
  <p>Stand-Alone Text link underlined by default</p>
  <v-link secondary href="https://google.com">Link Secondary</v-link>
  <br>
  <v-link secondary disabled href="https://google.com">Link Secondary</v-link>
 

  <br>
  <h2>Stand-Alone Text Link Tertiary</h2> <br>
  <p>Stand-Alone Text link NOT underlined by default</p>
  <v-link tertiary href="https://google.com">Link Tertiary</v-link>
  <br>
  <v-link tertiary disabled href="https://google.com">Link Tertiary</v-link>

  <br>
  <h2>In-Line Text Link</h2> <br>
  <p>Text link used inline within body copy</p>
  <a class="inline-text-link" href="www.google.co.uk">In-Line Text Link</a>
  <br>
  <a class="inline-text-link" href="www.google.co.uk">In-Line Text Link</a>

  <p class="body-md">Inline text <a class="link--primary" href="#">Link Primary</a> used in a paragraph</p>
  <p class="body-md">Inline text <a class="link--secondary" href="#">Link Secondary</a> used in a paragraph</p>
  {% comment %} 




  {% endcomment %}
  <h2>Form, Inputs and MISC</h2>

  </br>
  <h3>Fields</h3>
  <text-input label="Label" placeholder="Placeholder"></text-input>
  <text-input label="Disabled" :disabled="true" placeholder="Placeholder"></text-input>
  <text-input label="Error" placeholder="Placeholder" :validator="function () {return false;}">
    <span class="color-brand-2" slot="error">This is an error message</span>
  </text-input>
  <text-area-input label="Textarea" placeholder="Placeholder"></text-area-input>

  </br>
  <h3>Select</h3>
  <select-input :options="[{label: 'Test1', value:'1'}, {label: 'Test2', value:'2'}]" icon="caret-down"></select-input>

  </br>
  <h3>Email Capture</h3>
  <text-input label="Your Email Address" placeholder="Your Email Address" icon="arrow_long_right"></text-input>
  <text-input label="Your Email Address" :disabled="true" placeholder="Your Email Address (Disabled)" icon="arrow_long_right"></text-input>

  </br>
  <h3>Search Field</h3>
  <text-input class="searchbar" placeholder="Search for Jewelry, Designers, and More" icon="search"></text-input>

  </br>
  <h2>Checkbox</h2>
  <div>
    <input type="checkbox" class="input--checkbox" id="check1">
    <label for="check1">Label</label>
  </div>
  <div>
    <input type="checkbox"  class="input--checkbox" id="check2" checked>
    <label for="check2">Selected</label>
  </div>
  <div>
    <input type="checkbox" class="input--checkbox" id="check3" disabled="disabled">
    <label for="check3">Disabled</label>
  </div>
  <div>
    <input type="checkbox" class="input--checkbox" id="check4" disabled="disabled" checked>
    <label for="check4">Disabled Selected</label>
  </div>

  </br>
  <h2>Toggle</h2>
  <div>
    <input type="checkbox" class="input--toggle" id="toggle1">
    <label for="toggle1">Toggle</label>
  </div>
  <div>
    <input type="checkbox" class="input--toggle" id="toggle2" checked>
    <label for="toggle2">Toggle Selected</label>
  </div>
  <div>
    <input type="checkbox" class="input--toggle" id="toggle3" disabled="disabled">
    <label for="toggle3">Toggle Disabled</label>
  </div>
  <div>
    <input type="checkbox" class="input--toggle" id="toggle4" checked disabled="disabled">
    <label for="toggle4">Toggle Disabled Selected</label>
  </div>

  </br>
  <h2>Radio</h2>
  <div>
    <input type="radio" name="t" id="radio1">
    <label for="radio1" >Default</label>
  </div>
  <div>
    <input type="radio" name="t" id="radio2" checked>
    <label for="radio2" >Selected</label>
  </div>
  <div>
    <input type="radio" name="f" id="radio3" disabled>
    <label for="radio3" >Disabled</label>
  </div>
  <div>
    <input type="radio" name="f" id="radio4" disabled checked>
    <label for="radio4" >Disabled Selected</label>
  </div>

  </br>
  <h2>Tooltips</h2>
  <br>
  <span v-tooltip.top="'tooltop top center'">hover for tooltip top</span>
  <br>
  <span v-tooltip.bottom="'tooltop bottom center'">hover for tooltip bottom</span>
  <br>

</main>