{% layout 'ui-kit' %}

{% include 'icon-store' %}

<style>
  .button--state-success .button__content::before {
    background-image: url("{{ 'check_white.svg' | asset_url }}");
  }
  .button--state-error .button__content::before {
    background-image: url("{{ 'close_white.svg' | asset_url }}");
  }

  body {
    padding: 5% 5% 200px 5%;
    height: auto;
  }
</style>

<h5>Desktop Typography</h5><hr>
<h1>Headline 1</h1><hr>
<h2>Headline 2</h2><hr>
<h3>Headline 3</h3><hr>
<h4>Headline 4</h4><hr>
<h5>Headline 5</h5><hr>
<h6>Headline 6</h6><hr>
<p class="h7">Headline 7</p><hr>
<p class="body-lg">Body (Large)</p><hr>
<p class="body-md">Body (Base)</p><hr>
<p class="body-sm">Body (Small)</p><hr>
{% comment %} <p class="product-title">Product Title</p><hr> unused {% endcomment %} 
{% comment %} <p class="subtitle">Subtitle</p><hr> unused {% endcomment %} 
<p class="btn-text">Button</p><hr>
<p class="link-text">Stand Alone Text Link</p><hr>
<p class="label">Form Label</p>
<hr>




<h5>Buttons and Links</h5><hr>
<h6>Buttons primary</h6>
<button class="button button--primary">Default</button>
<button class="button button--primary" disabled="disabled">Disabled</button>
<button class="button button--primary" data-load><span class="button__content">Loading</span><span class="button__progress"></span></button>
<button class="button button--primary button--small">Small</button>
<button class="button button--primary">Regular</button>
<button class="button button--primary button--large">Large</button>
<h6>Buttons secondary</h6>
<button class="button button--secondary">Default</button>
<button class="button button--secondary" disabled="disabled">Disabled</button>
<button class="button button--secondary" data-load><span class="button__content">Loading</span><span class="button__progress"></span></button>
<button class="button button--secondary button--small">Small</button>
<button class="button button--secondary">Regular</button>
<button class="button button--secondary button--large">Large</button>
<h6>Links primary</h6> 
<a href="https://sdlkgjlskdg.com" class="link link--primary">Link - Default<svg class="icon" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow_long_right"></use></svg></a>
<a href="https://lksadjflkdjf.com" class="link link--primary" disabled="disabled">Link - Disabled<svg class="icon" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow_long_right"></use></svg></a>
<h6>Links secondary</h6>
<a href="https://lksadjflsjf.com" class="link link--secondary">Link - Default</a>
<a href="https://lkadjflksdjf.com" class="link link--secondary" disabled="disabled">Link - Disabled</a> 

<script>
  var all = document.querySelectorAll('[data-load]');

  for(var i = 0; i < all.length; i++) {
    var el = all[i];

    el.addEventListener('click', function (e) {
      el = e.currentTarget;
      el.className = el.className.replace('button--state-loading', '');
      el.className = el.className.replace('button--state-success', '');
      el.className += ' button--state-loading';
      el.disabled = "disabled";

      window.setTimeout(function () {
        el.className = el.className.replace('button--state-loading', 'button--state-success');

        window.setTimeout(function () {
          el.className = el.className.replace('button--state-success', '');
          el.disabled = null; 
        }, 2100)
      }, 1500);
    });
  }
</script>