{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.collections.enable_promo_tile' %}
  {% include 'custom_fields.collections.promo_tile_position' %}
  {% include 'custom_fields.collections.promo_tile_url' %}
  {% include 'custom_fields.collections.promo_tile_title' %}
  {% include 'custom_fields.collections.promo_tile_copy' %}
  {% include 'custom_fields.collections.promo_tile_image_url' %}
  {% include 'custom_fields.collections.related_collections' %}
  {% include 'custom_fields.collections.seo_block_title' %}
  {% include 'custom_fields.collections.seo_block_content' %}
  {% include 'custom_fields.collections.designer_collection' %}
  {% include 'custom_fields.collections.disable_collection_badges' %}
</div>