{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/ylang2-3.myshopify.com/products/configure/223395/edit
{% endcomment %}
{% if product.metafields.custom_fields["vendor_style_number"] != blank %}
  <div class="custom-field custom-field__vendor-style-number custom-field__type--text">
    <h3 class="custom-field--title">Vendor Style Number</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["vendor_style_number"] }}
    </div>
  </div>
{% endif %}