{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.pages.hero_image_desktop' %}
  {% include 'custom_fields.pages.hero_header' %}
  {% include 'custom_fields.pages.hero_subheader' %}
  {% include 'custom_fields.pages.seo_block_title' %}
  {% include 'custom_fields.pages.seo_block_content' %}
</div>