{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.products.designer_collection' %}
  {% include 'custom_fields.products.personalization_fields' %}
  {% include 'custom_fields.products.special_order_product_terms' %}
  {% include 'custom_fields.products.vendor_style_number' %}
</div>