// general layout
.register-template,
.login-template,
.template-activate_account {
  h1, h2 {
    text-align: center;
  }
  h1 {
    font-size: 36px;
    @include tablet-up {
      font-size: 48px;
      line-height: 67px;
    }
  }
  h2 {
    font-size: 24px;
    @include tablet-up {
      font-size: 36px;
      margin-bottom: 16px;
      line-height: 42px;
    }
  }
  .back-arrow {
    width: 21px;
    height: 18px;
  }
  .errors {
    padding: 0;
    border: 0;
    background: none;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 10px;
    }
  }
  .validation-message {
    font-size: 12px;
    margin: 10px 0;
    text-align: left;
  }
  .form-container {
    max-width: 360px;
    margin: 0 auto;
  }
  .button-container {
    margin: 24px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    .button {
      margin: 0 0 20px 0;
    }
  }
  .input-group {
    display: flex;
    justify-content: space-between;
    .input {
      width: 48%;
    }
  }
  .button-group {
    display: flex;
    justify-content: space-between;
    margin: 12px auto 0;
    width: 70%;
    flex-direction: column;
    .button-container {
      max-width: none;
      margin: 0;
      width: 100%;
      .button {
        width: 100%;
      }
    }
    @include tablet-up {
      flex-direction: row;
      .button-container {
        width: 48%;
      }
    }
  }
}

// login.liquid & register.liquid
.login-template, .register-template {
  display: flex;
  flex-wrap: wrap;
  .login-splash {
    height: 320px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include tablet-up {
      width: 50%;
      height: auto;
      min-height: 100vh;
    }
  }
  .login-buttons, .button-container {
    margin-top: 16px;
    text-align: center;
    .button {
      margin: 0 0 16px 0;
      width: 100%;
      font-size: 1.25rem;
      line-height: 20px;
    }
    .login-recover {
      display: inline-block;
      color: $color-black-900;
      font-family: $font-family-primary;
      font-size: 12px;
      border-bottom: 1px solid $color-black-900;
      margin-bottom: 20px;
    }
  }
  .login-recovery-modal {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 99999;
    cursor: default;
    margin: 0 auto;

    @include tablet-up {
      width: 480px;
    }
    p {
      margin-top: 16px;
      margin-bottom: 40px;
      text-align: center;
      font-size: 16px;
      line-height: 22px;
    }
    .login-recovery-modal-close {
      position: absolute;
      width: 17px;
      height: 17px;
      line-height: 17px;
      font-size: 30px;
      font-weight: bold;
      top: 16px;
      right: 16px;
      user-select: none;
      cursor: pointer;
    }
    .validation-message  {
      text-align: left;
    }
    .form-success {
      border: none;
    }
    @include tablet-up {
      p {
        font-size: 16px;
      }
    }
  }
}

.login-form {
  width: 100%;
  padding: 48px 16px;
  margin: 0 auto;
  &__header {
    max-width: 360px;
    margin-right: auto;
    margin-left: auto;
    color: $color-black-900;
    text-align: center;
  }
  &__blurb {
    max-width: 360px;
    margin: 0 auto;
    text-align: center;
  }
  .input {
    padding-bottom: 16px;
  }
  @include tablet-up {
    width: 50%;
    padding: 55px 20px;
  }
}

.form-state-tabs {
  display: flex;
  margin: 0 auto 16px;
  width: 100%;
  max-width: 360px;
  text-align: center;
  flex-wrap: wrap;

  @include tablet-up {
    flex-wrap: nowrap;
  }

  .tab {
    display: block;
    width: 100%;
    border: 0;
    border-bottom: 3px solid $color-util-ui-grey;
  }
  .tab--active {
    border-color: $color-util-focus;
  }
}

.login-recovery-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-reset-form-container {
  width: 100%;
  max-width: 360px;
  
  @include tablet-up {
    width: 360px;
  }

  .button-container {
    margin-top: 0;
  }
}

.account-button,
.login-recovery-modal .button{
  width: 100%;
  font-size: 1.25rem; 
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 0;
}

.login-recovery-modal label {
  font-family: $font-family-primary;
  font-size: 9px;
  font-weight: 500;
  margin-bottom: 4px;
  line-height: 12px;
  color: $color-black-900;
  display: block;
  top: 86px;
}

.login-template .modal {
  background-color: rgba(0, 0, 0, 0.15);
  top: 86px;

  @include tablet-up {
    top: 0;
  }
}

.errors {
  border-radius: 0 !important;
}

.errors li {
  font-family: $font-family-primary;
}

.login-recovery-modal .form-success {
  background-color: transparent;
}

.reset-password-heading-container {
  padding-bottom: 16px;
}

.activate-buttons-container {
  margin-top: 15px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.customer-register-input::-webkit-input-placeholder, /* Chrome/Opera/Safari */
.customer-register-input::-moz-placeholder, /* Chrome/Opera/Safari */
.customer-register-input:-ms-input-placeholder,/* Chrome/Opera/Safari */
.customer-register-input:-moz-placeholder, /* Chrome/Opera/Safari */
.customer-login-input::-webkit-input-placeholder, /* Chrome/Opera/Safari */
.customer-login-input::-moz-placeholder, /* Chrome/Opera/Safari */
.customer-login-input:-ms-input-placeholder,/* Chrome/Opera/Safari */
.customer-login-input:-moz-placeholder, /* Chrome/Opera/Safari */
.customer-register-input::placeholder,
.customer-login-input::placeholder { 
  color: $color-black-900;
  font-family: $font-family-primary;
}

.customer-register-input.input--checkbox {
  vertical-align: text-bottom;
}

@include login-register;